@page "/"
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.Authorize]


<Topbar title="Dashboard"/>

<div class="row">
    <h1 class="mt-4">Dashboard</h1>
</div> <!-- end row-->
