@page "/documents"
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>Documents</PageTitle>

<Topbar title="Documents"/>

<div class="row">
    <h1 class="mt-4">Documents</h1>
</div> <!-- end row-->

