<!DOCTYPE html>
<html 
    lang="es" 
    data-layout-mode="fluid" 
    data-sidenav-size="default" 
    data-bs-theme="light" 
    data-menu-color="light"
    data-topbar-color="light">


<head>
    <meta charset="utf-8" />
    <title>Following - Preload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Gestion Compartida" name="author" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <base href="/" />

    <!-- Config JS debe cargarse primero -->
    <script src="/js/config.min.js"></script>

    <!-- Vendor CSS - Orden de carga importante -->
    <link href="/css/vendor-core.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor-forms.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor-tables.min.css" rel="stylesheet" type="text/css" />
   @*  <link href="/css/vendor-charts.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/vendor-maps.min.css" rel="stylesheet" type="text/css" /> *@
    <link href="/css/vendor-ui.min.css" rel="stylesheet" type="text/css" />
    
    <!-- App CSS -->
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />

    <!-- Blazored Typeahead CSS -->
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <HeadOutlet />

</head>

<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>

    <!-- Google Maps API -->
    @* <script src="https://maps.google.com/maps/api/js"></script> *@

    <!-- ApexCharts Sample Data -->
    @* <script src="https://apexcharts.com/samples/assets/stock-prices.js"></script>
    <script src="https://apexcharts.com/samples/assets/series1000.js"></script>
    <script src="https://apexcharts.com/samples/assets/github-data.js"></script>
    <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script> *@

    <!-- Vendor JS - Orden de carga importante (jQuery y Bootstrap primero) -->
    <script src="/js/vendor-core.min.js"></script>
    <script src="/js/vendor-forms.min.js"></script>
    <script src="/js/vendor-tables.min.js"></script>
    @* <script src="/js/vendor-charts.min.js"></script>
    <script src="/js/vendor-maps.min.js"></script> *@
    <script src="/js/vendor-ui.min.js"></script>
    @* <script src="/js/vendor-calendar.min.js"></script> *@
    <script src="/js/vendor-utils.min.js"></script>

    <!-- App JS -->
    <script src="/js/app.min.js"></script>

    <!-- Component JS -->
    <script src="/js/components/form-select2.min.js"></script>
    <script src="/js/components/form-flatpickr.min.js"></script>
    <script src="/js/components/form-wizard-edit.min.js"></script>
    <script src="/js/components/extended-sweetalerts.min.js"></script>

    <!-- Blazored Typeahead JS -->
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
