@rendermode InteractiveServer

<!-- Sidenav Menu Start -->
<div class="sidenav-menu">

    <!-- Brand Logo -->
    <a href="/" class="logo">
        <span class="logo-light">
            <span class="logo-lg"><img src="/images/logo.png" alt="logo"></span>
            <span class="logo-sm"><img src="/images/logo-sm.png" alt="small logo"></span>
        </span>

        <span class="logo-dark">
            <span class="logo-lg"><img src="/images/logo-dark.png" alt="dark logo"></span>
            <span class="logo-sm"><img src="/images/logo-sm.png" alt="small logo"></span>
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button class="button-sm-hover">
        <i class="ri-circle-line align-middle"></i>
    </button>

    <!-- Sidebar Menu Toggle Button -->
    <button class="sidenav-toggle-button" @onclick="ToggleSidenav">
        <i class="ri-menu-5-line fs-20"></i>
    </button>

    <!-- Full Sidebar Menu Close Button -->
    <button class="button-close-fullsidebar">
        <i class="ti ti-x align-middle"></i>
    </button>

    <div data-simplebar>

        

        <!--- Sidenav Menu -->
        <ul class="side-nav">
            <!--- Dashboard -->
            <li class="side-nav-item">
                <NavLink class="side-nav-link"
                         href="/"
                         Match="NavLinkMatch.All"
                         ActiveClass="active">
                    <span class="menu-icon"><i class="ti ti-dashboard"></i></span>
                    <span class="menu-text">Dashboard</span>
                </NavLink>
            </li><!--- Dashboard -->

            <!--- Documents -->
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages"
                   class="side-nav-link">
                    <span class="menu-icon"><i class="ti ti-folders"></i></span>
                    <span class="menu-text"> Documentos </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPages">
                    <ul class="sub-menu">
                        <li class="side-nav-item">
                            <NavLink class="side-nav-link"
                                     href="documents/pending"
                                     Match="NavLinkMatch.All"
                                     ActiveClass="active">
                                <span class="menu-icon"><i class="ti ti-clock"></i></span>
                                <span class="menu-text">Pendientes</span>
                            </NavLink>
                        </li>
                        <li class="side-nav-item">
                            <NavLink class="side-nav-link"
                                     href="documents/processed"
                                     Match="NavLinkMatch.All"
                                     ActiveClass="active">
                                <span class="menu-icon"><i class="ti ti-loader"></i></span>
                                <span class="menu-text">En proceso</span>
                            </NavLink>
                        </li>
                        <li class="side-nav-item">
                            <NavLink class="side-nav-link"
                                     href="documents/paid"
                                     Match="NavLinkMatch.All"
                                     ActiveClass="active">
                                <span class="menu-icon"><i class="ti ti-circle-check"></i></span>
                                <span class="menu-text">Pagados</span>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </li>
            <!--- Documents -->
            

            <!--- Purchase orders -->
            <li class="side-nav-item">
                <NavLink class="side-nav-link"
                         href="purchase-orders"
                         Match="NavLinkMatch.Prefix"
                         ActiveClass="active">
                    <span class="menu-icon"><i class="ti ti-invoice"></i></span>
                    <span class="menu-text">Ordenes de Compra</span>
                </NavLink>
            </li>
            <!--- Purchase orders -->
        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Sidenav Menu End -->