@page "/logout"
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Cerrando sesión...</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <h3>Cerrando sesión...</h3>
                <p>Por favor, espere mientras se cierra su sesión.</p>
            </div>
        </div>
    </div>
</div>

